@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

:root {
  --light-color: #fbfbf9;
  --dark-color: #1f2225;
}

.section-width-default {
  @apply max-w-[340px] sm:max-w-[600px] md:max-w-[700px] lg:max-w-[880px] xl:max-w-[1040px] 2xl:max-w-[1200px] 3xl:max-w-[1400px] w-full;
}

.flex-centered {
  @apply flex justify-center items-center;
}

.standart-animation {
  @apply transition-all ease-in-out duration-300 delay-150;
}

.standart-hover {
  @apply cursor-pointer drop-shadow-md hover:drop-shadow-xl hover:-translate-y-2 active:drop-shadow active:translate-y-1;
}

.absolute-center {
  @apply absolute top-[50%] -translate-y-[50%] left-[50%] -translate-x-[50%] flex justify-center items-center;
}

// SECTIONS-----------------------------------------------------------------------------------------
.skill-card {
  position: relative;
  // width: 100%;
  // height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  &.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
    .front {
      button {
        @apply opacity-0 transition-all ease-in-out duration-300 delay-150;
      }
    }
  }
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    &.back {
      transform: rotateY(180deg);
    }
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
  &::after {
    background-color: #1a5866;
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
  }
  .timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;

    &:nth-child(odd) {
      align-self: flex-end;
      justify-content: flex-start;
      padding-left: 30px;
      padding-right: 0;

      .timeline-item-content {
        text-align: left;
        align-items: flex-start;
        &::after {
          right: auto;
          left: -7.5px;
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
        }
        .tag {
          left: auto;
          right: 5px;
        }
        .circle {
          right: auto;
          left: -40px;
        }
      }
    }
    .timeline-item-content {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 15px;
      position: relative;
      width: 400px;
      max-width: 70%;
      text-align: right;

      &::after {
        content: " ";
        background-color: #fff;
        box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: -7.5px;
        top: calc(50% - 7.5px);
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
      }
      .tag {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        top: 5px;
        left: 5px;
        letter-spacing: 1px;
        padding: 5px;
        position: absolute;
        text-transform: uppercase;
      }
      time {
        color: #777;
        font-size: 12px;
        font-weight: bold;
      }
      p {
        // font-size: 16px;
        line-height: 24px;
        margin: 15px 0;
        // max-width: 250px;
      } 
      .circle {
        background-color: #fff;
        border: 3px solid #1a5866;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 10px);
        right: -40px;
        width: 20px;
        height: 20px;
        z-index: 100;
      }
      @media only screen and (max-width: 1023px) {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline-item-content time {
    margin-top: 40px;
  }

  .timeline-item-content a {
    text-decoration: underline;
  }

  .timeline-item-content a::after {
    display: none;
  }
}

.project-card {
  &:hover {
    img {
      @apply scale-125;
    }
  }
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
}

.certificates-highlights {

  span {
    @apply lg:text-lg bg-[#1F2225] py-1 px-1 rounded-lg;
  }
  @keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
  }
  
  @property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  [role="progressbar"] {
    --percentage: var(--value);
    --primary: #879EAD;
    --secondary: #EEECE3;
    --size: 300px;
    @media only screen and (max-width: 767px) {
      --size: 200px;
    }
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  [role="progressbar"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
    mask: radial-gradient(white 55%, transparent 0);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(#0000 50%, #000 0);
    -webkit-mask-mode: alpha;
  }
  
  [role="progressbar"]::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-weight: 800;
    // font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--primary);
  }
  
}